{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if project.image.url is defined %}
            <img src="{{project.image.url}}" alt="" width="100%">
        {% else %}
        {% endif %}
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        
            <h5>Categories:</h5>&nbsp;
            {% for category in project.categories.all %}
            
            <a href="{% url 'exercise_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
            <br>

            <div class="buttons">
                {% if project.source %}
                    <a href="{{ project.source }}" target="_blank" class="btn btn-outline-info">
                        Code <i class="fa fa-code fa-lg" ></i>
                    </a>
                {% else %}
                {% endif %}
                {% if project.demo %}
                    <a href="{{ project.demo }}" target="_blank" class="btn btn-outline-info">
                        Demo <i class="fa fa-link fa-lg" ></i>
                    </a> 
                {% else %}
                {% endif %}
            </div>
        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <p>{{ project.body }}</p>
    </div>
</div>
{% endblock %}